*{padding:0;margin:0;
}
html{font-size: 62.5%;font-size:1.5rem;font-family: 微软雅黑;
    width:100%;min-width: 640px;
}
.header{    color:white;border-bottom:1px solid white;
    width:100%;height:3rem;text-align:center;
    background-color:rgb(41,189,224);position:relative;
}
.header-left{
    position: absolute;left:1rem;top:0.75rem;
}
.header-right{
    position:absolute;right:1rem;top:0.75rem;
}
.header-middle {line-height:3rem;height:3rem;

}
.main{      overflow: hidden;
    width:100%;background-color: rgb(41,189,224);margin:0 auto;
}
.main-log{
    text-align: center;margin-top:1rem;
}
.main-msg{width:80%;margin:1rem auto;
    color:orange;
}
.main-list{width:80%;margin:1rem auto;
    color:white;line-height: 1.5rem;
}
.content{       border-bottom: 1px solid gray;
    width:100%;color:gray;
        padding:1rem 0;
}
.content-box1{
    width:80%;margin:0 auto;
    position:relative;
}
.content-box1-time{ font-size:0.75rem;
    position:absolute;right:0;top:0;
}


.footer{ width:100%;height:3rem;
    background-color:rgba(153,223,240,0.65);
    text-align:center;color:white;
    position:fixed;bottom:0;
}
.footer-left{width:40%;float:left;margin:0.5rem 5%;

}
.footer-left span{display: block;border-radius: 10px;
    background-color: red;height:2rem;line-height: 2rem;
}
.footer-right{width:40%;float:left;margin:0.5rem 5%;
}
.footer-right span{display: block;border-radius: 10px;
    background-color: orange;height:2rem;line-height: 2rem;
}
