*{padding:0;margin: 0;}
.page{font-size:40px;
        width:100%;min-width:320px;font-family:宋体;}
.header{background-color: #add8e6;width:100%;overflow: hidden;text-align: center;line-height: 4em;}
.header-1{width:10%;margin-left:2%;
    float: left;}
.header-2{width:76%;
    float: left;  }
.header-3{width:12%;float:left;}
.homepage{width:100%;height:400px;background-image:url(../img/task5_02.png);background-size:cover;overflow:hidden;}
.homepage-photo{width:170px;height:170px;float:left;overflow:hidden;
                border-radius:90px;margin-left:20px;margin-top:60px;}
.homepage-photo img{vertical-align: middle;}
.homepage-word{margin-left:220px;margin-top:100px;}
.body1{line-height: 3em;padding-left:1%;border-bottom: 1px solid gray;}
.body2{line-height: 3em;border-bottom: 1px solid gray;padding-left:2em;}
.body3{width:100%;border-bottom: 1px solid gray;height:3em;}
.body3-left{width:30%;line-height: 3em;float:left;height:3em;}
.body3-left>span{padding-left:1em;padding-right:2em;border-right:1px solid gray;}
.body3-right{width:60%;line-height: 3em;float:right;height:3em;}
.body3-right1{color:red;width:60%;line-height: 3em;float:right;height:3em;}
.body3-right2{width:60%;line-height: 1em;float:right;height:3em;}
.footer{width:100%;}
.footer-left{margin:5%;width:39%;float:left;text-align: center;line-height: 2em;color:lightblue;
            border:1px solid #add8e6;border-radius: 10px;}
.footer-right{margin:5%;width:39%;float:right;text-align: center;line-height: 2em;color:white;
                background-color: lightblue;border-radius: 10px;}
